body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
}

.books-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.book-card {
  flex-basis: 100%;
  min-height: 150px;
  background-color: aqua;
  border: 1px solid #000;
  border-radius: 15px;
  margin: 10px 10px;
  padding: 15px;
}

.new-book{
  display: none;
  flex-direction: column;
  align-items: center;
}

.remove-btn {
  font-weight: bold;
  background-color: red;
  color: #ffffff;
}


@media only screen and (min-width: 992px) {
  .book-card {
  flex-basis: 20%;
  min-height: 150px;
  background-color: aqua;
  border: 1px solid #000;
  border-radius: 15px;
  margin: 10px 10px;
  padding: 15px;
}
}